apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubergo
  namespace: app
  labels:
    app: kubergo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kubergo
  template:
    metadata:
      labels:
        app: kubergo
    spec:
      containers:
        - name: kubergo
          image: kubergo:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: PORT
              value: "8080"
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 2
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
